<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <!--[endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        {% include 'shop-sheriff-amp' %}


        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        {% if settings.favicon_enable %}
            <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png"/>
        {% endif %}
        <title>
            {{ page_title }}
            {% if current_tags %}
                {% assign meta_tags = current_tags | join: ', ' %}
                &ndash;
                {{ 'general.meta.tags' | t: tags: meta_tags }}
            {% endif %}
            {% if current_page != 1 %}
                &ndash;
                {{ 'general.meta.page' | t: page: current_page }}
            {% endif %}
            {% unless page_title contains shop.name %}
                &ndash;
                {{ shop.name }}
            {% endunless %}
        </title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
        {% include 'social-meta-tags' %}
        <link rel="canonical" href="{{ canonical_url }}">
        <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <meta content="AlUKd3xBlzjGs5s4oqKKj_PdyOE9_TTXB8EA1vehmRU" name="google-site-verification"/>
        <meta content="F3u2YFKYkJFXJufxglvjTBoRrsP-D25hzEmnqnN4njk" name="google-site-verification"/>
        {% include 'head_styles' %}
        <!-- Header hook for plugins ================================================== -->
        {% comment %}{%- include 'bold-product' with product, hide_action: 'header' -%}{% endcomment %}
        {% include 'oldIE-js' %}
        {% comment %}
        {{ content_for_header }}
        {% endcomment %}
        {% include 'head_script' content_for_header: content_for_header %}
        {% include 'bold-common' %}
        {% include 'bold-ro-init' %}
        {% comment %} Judge.me content removed from here {% endcomment %}
        <script id="oke-reviews-settings" type="application/json">
            {"disableInitialReviewsFetchOnProducts":false,"subscriberId":"a30386fd-4802-45d9-bd70-65e331424260"}
        </script>
        {% comment %}
{{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
{{ shop.metafields.okendo.StyleCustomizations }}
{% endcomment %}
        {% include 'okendo-json-ld' %}
        {% include 'judgeme_core' %}
        
        {% if template contains 'product' %}
            <link href="//{{shop.domain}}/apps/fireamp/products/{{product.handle}}" rel="amphtml">
        {% endif %}
        {% if template contains 'collection' %}
            {% assign collectionpageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}
            {% assign collectionHandle = collectionpageurl | split : "collections\/" | last %}
            {% if collectionpageurl contains '?' or collectionHandle contains '/' %}
                {% else %}
                    <link href="//{{shop.domain}}/apps/fireamp/collections/{{collection.handle}}" rel="amphtml">
            {% endif %}
        {% endif %}
        {% if template contains 'blog' %}
            <link href="//{{shop.domain}}/apps/fireamp/blogs/{{blog.handle}}" rel="amphtml">
        {% endif %}
        {% if template contains 'article' %}
            <link href="//{{shop.domain}}/apps/fireamp/blogs/{{article.handle}}" rel="amphtml">
        {% endif %}
        {% include 'shogun-head' %}
    </head>


    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
        {% section 'header' %}
        {% include 'banner'%}
        <main class="wrapper main-content" role="main">
            {{ content_for_layout }}
        </main>


        {% if template == 'cart' %}
            {% section 'rewards' %}
            {% section 'footer' %}
        {% elsif template == 'page.brotherhood-new' %}
            {% section 'footer' %}
        {% else %}
            {% unless template == 'product.nmr' %}
                {% section 'video' %}
            {% endunless %}
            {% section 'ourbrothers' %}
            {% section 'rewards' %}
            {% section 'footer' %}
        {% endif %}
        <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__opt_ls.rias.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
        <!--[if lte IE 9]><script src="{{ '__opt_ls.rias.min.js' | asset_url }}"></script><![endif]-->

        {{ 'fastclick.min.js' | asset_url | script_tag }}
        {{ 'timber.js' | asset_url | script_tag }}
        <script src="{{ 'scripts_minimized.min.js' | asset_url }}"></script>
        {{ 'custom.js' | asset_url | script_tag }}

        <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ '__opt_lazysizes.min.js' | asset_url }}" defer></script><!--<![endif]-->
        <!--[if lte IE 9]><script src="{{ '__opt_lazysizes.min.js' | asset_url }}"></script><![endif]-->
        {% if resetPassword %}
            <script>
      $(function() {
        timber.resetPasswordSuccess();
      });
  </script>
        {% endif %}

        {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - https://shopify.com/timber#ajax-cart
      - https://github.com/Shopify/Timber
  {% endcomment %}
        {% if settings.ajax_cart_method == "drawer" %}
            {{ 'handlebars.min.js' | asset_url | script_tag }}
            {% include 'ajax-cart-template' %}
            {{ 'ajax-cart.js' | asset_url | script_tag }}
            <script>
      jQuery(function($) {
        ajaxCart.init({
   //       formSelector: '#AddToCartForm',
   //       cartContainer: '#CartContainer',
   //       addToCartSelector: '#AddToCart',
   //       cartCountSelector: '#CartCount',
   //       cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        timber.RightDrawer.open();
      });
    </script>

        {% endif %}


        {{ "flexslider.scss.css"       | asset_url | stylesheet_tag }}
        {{ "jquery.flexslider-min.js" | asset_url | script_tag     }}

        {% include 'smile-initializer' %}
        {% include 'footer_script' %}
        
</body>
</html>
