{% if product.metafields.accentuate.show_more_about_module %}
    <div class="py-24 md:py-32 lg:py-48" style="background-color: #E7E3E1">
        <div class="mb-10">
            <h2 class="nmr-title-dark text-4xl text-center leading-tight mb-5">{{ product.metafields.accentuate.more_about_title }}</h2>
        </div>
        <div class="nmr-more-about-slider">
            {% for article_handle in product.metafields.accentuate.more_about_article limit:6 %}
                <div class="nmr-more-about-slide">
                    <div class="content py-10 px-5 md:px-10 mx-auto max-w-3xl">
                        <div class="flex flex-wrap items-center justify-center m-0 md:-mx-4">
                            {% if articles[article_handle].image.src %}
                                <div class="flex-none w-full md:w-2/5 px-10 pb-10 md:pb-0 md:px-4 image">
                                    <div class="lazy nmr-image-square rounded-full bg-gray-500 shadow-md bg-cover bg-center bg-no-repeat" data-bg="url({{ articles[article_handle].image.src | img_url: 'master' }})"></div>
                                </div>
                            {% endif %}

                            <div class="flex-1 px-4 {% unless articles[article_handle].image.src %}text-center{% endunless %}">
                                <h2 class="nmr-title text-3xl leading-tight mb-5">{{ articles[article_handle].title }}</h2>
                                <div class="text-lg leading-snug mb-8">{{ articles[article_handle].content | strip_html | truncate: 100 }}</div>

                                <a class="uppercase tracking-widest font-bold" href="{{ articles[article_handle].url }}" style="color:#C0964A">
                                    <span class="mr-1 hover:mr-2">Learn More</span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<style type="text/css">

    .nmr-image-landscape {
        background-color: #efefef;
        display: block;
        content: "";
        padding-top: 60%;
    }

    .nmr-more-about-slide {
        transition-duration: 300ms;
        opacity: .2;
    }

    .nmr-more-about-slide.nmr-active {
        opacity: 1 !important;
    }

    #shopify-section-nmr-module-more-about .tns-outer {
        position: relative;
    }

    #shopify-section-nmr-module-more-about .tns-nav {
        display: none;
    }

    #shopify-section-nmr-module-more-about .tns-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        outline: 0;

        position: absolute;
        top: 100%;
        width: 100%;
        transform: translateY(50%);
    }

    button[data-controls=next],
    button[data-controls=prev] {
        cursor: pointer;
        border-radius: 999999px;
        width: 2rem;
        height: 2rem;
        background-color: #C0964A;
        color: white;
        margin: 0 0.25rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        outline: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        transform: translateY(0);
        transition-duration: 200ms;
    }

    button[data-controls=next]:hover,
    button[data-controls=prev]:hover {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        transform: translateY(-10%);
    }

    button,
    button:hover,
    button:focus,
    button:active,
    button .fas,
    button:hover .fas,
    button:focus .fas,
    button:active .fas {
        outline: 0 !important;
    }
</style>

<script type="text/javascript">
    window.addEventListener("load", function () {

        function updateSlides(info) {
            indexPrev = info.indexCached,
            indexCurrent = info.index;

            // update style based on index
            info
                .slideItems[indexPrev]
                .classList
                .remove("nmr-active");
            info
                .slideItems[indexCurrent]
                .classList
                .add("nmr-active");
        }

        var more_about_slider = tns({
            container: ".nmr-more-about-slider",
            autoplay: false,
            center: true,
            controlsText: [
                "<i class=\"fas fa-arrow-left\"></i>", "<i class=\"fas fa-arrow-right\"></i>"
            ],
            mouseDrag: true,
            items: 1,
            responsive: {
                1028: {
                    items: 2
                }
            },
            onInit: function (info) {
                updateSlides(info)
            }
        });

        more_about_slider.events.on("indexChanged", updateSlides);
    });
</script>

{% schema %}

{
    "name": "NMR Module More About",
    "tag": "section"
}

{% endschema %}

<!-- 
    - posts
        - blog.title
        - blog.summary
        - blog.url
 -->