{{ 'grt-youtube-popup.scss.css' | asset_url | stylesheet_tag }}
{{ 'grt-youtube-popup.js' | asset_url | script_tag }}

<section class="video">
  <div class="container video_container">
    <h3>Grooming Tips</h3>
    <div class="video_content flexslider carousel">
      <ul class="slides">
        
        <li>
      <div class="video_wrap">
        <a href="#" class="youtube-link" youtubeid="Vt2GBKnc4ZQ">
          <div class="video-background">
            <div class="play-button"></div>
          <img src="{{ 'Vt2GBKnc4ZQ.jpg' | asset_url }}">
          </div>
        </a>
        <h2>How to Condition Your Beard</h2>
        <p>Always wondering, Am I conditioning my beard too much? Am I not conditioning my beard enough? Bossman Brands founder Stephen Condon explains the proper way to condition and keep your beard the healthiest it can be. He also introduces his revolutionary Fortify Intense Conditioner. Packed with Natural ingredients like Avocado oil, Mango Butter, Jojoba, Argon, and more!  </p>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="CuNGaOZfG_8">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'CuNGaOZfG_8.jpg' | asset_url }}">
            </div>
          </a>
        <h2>How to style a Handle Bar Mustache</h2>
        <p>Bossman Brands founder Stephen Condon teaches you how to make the perfect Handle Bar mustache for those special occasions. Get ready to twist and curl your way to that styled stache. </p>
      </div>
        </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="rGylMiB9r4U">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'rGylMiB9r4U.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Pre Contest Grooming Tips</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="iR8Ki-gSX0o">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'iR8Ki-gSX0o.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Bossman Brands Boar Hair Beard Brush</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="3iUoIVX2hJA">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ '3iUoIVX2hJA.jpg' | asset_url }}">
            </div>
          </a>
        <h2>How to Train Your Mustache using Bossman MUDstache Training Wax</h2>
      </div>
      </li>
        
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="zbtfrGtVIfE">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'zbtfrGtVIfE.jpg' | asset_url }}">
            </div>
          </a>
        <h2>How To Use Beard Jelly Oil</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="IMBsiqnFl6c">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'IMBsiqnFl6c.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Softening Beard Balm By Bossman</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="zdQ0uxwRaCg">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ 'zdQ0uxwRaCg.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Bossman Brands Mudstache™ Training Wax Instructions</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="9x5QkwgVCdo">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ '9x5QkwgVCdo.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Introducing The World’S First Jelly Beard Oil</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="5mztLnak6tk">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ '5mztLnak6tk.jpg' | asset_url }}">
            </div>
          </a>
        <h2>How To Grow A Beard — The Bossman Way</h2>
      </div>
      </li>
        
         <li>
      <div class="video_wrap">
		  <a href="#" class="youtube-link" youtubeid="-99oNZknmBg">
          <div class="video-background">
            <div class="play-button"></div>
            <img src="{{ '99oNZknmBg.jpg' | asset_url }}">
            </div>
          </a>
        <h2>Bossman Stephen Condon Visits Finley’S Barber (Beard Trimming Tips)</h2>
      </div>
      </li>
        
    </ul>
    </div>
  </div>
</section>

<style>
  .iframe_wrap img{max-height:265px}
  .video h3{font-size:25px;color:#fff;text-transform:uppercase;margin:0 auto;font-family: 'Abril Fatface',serif;text-align:center;font-weight: 400;}
  @media only screen and (max-width: 480px) {
    .product_more_content .videos_item {margin-bottom: 20px}
  }
  .video_content .video_wrap {
    width: 97%!important;
  }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -30px -60px 0 !important;
    
  }
  .flexslider .flex-direction-nav .flex-prev, .flexslider .flex-direction-nav .flex-next {
    opacity: 1;
}
  .flex-direction-nav .flex-prev {
    left: 0px !important;
}
  .flex-direction-nav .flex-next {
    right: 10px !important;
    text-align: right;
}
  .video-background{position: relative;}
.play-button {
    background: url(https://cdn.shopify.com/s/files/1/2283/7011/t/21/assets/play_video.png) center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
</style>
<script> $(".youtube-link").grtyoutube(); </script>